body {
  background: url("../public/space.jpg");
  background-size: cover;
  color: #ffffff; /* White text for good contrast */
  font-family: "Orbitron", sans-serif; /* Futuristic, spacey font */
}

.container {
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Orbitron", sans-serif;
  color: #00ffff; /* Neon cyan for space vibes */
}

p {
  font-family: "Roboto", sans-serif;
  color: #a9a9a9; /* Lighter grey for body text */
}

button {
  background-color: #59378f; /* Electric purple */
  color: #ffffff; /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #905ae6; /* Bright yellow on hover */
}

.sidebar {
  width: 300px;
  background-color: rgba(20, 20, 40, 0.9);
  padding: 20px;
  color: #fff;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.control {
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 50px;
  padding: 3px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.container {
  position: relative; /* Positioning context for absolute positioning */
  display: flex; /* Use flexbox for sidebar and main content */
}

.sidebar {
  width: 250px; /* Set a fixed width for the sidebar */
  background-color: #333; /* Sidebar background color */
  color: white; /* Sidebar text color */
  padding: 20px; /* Padding for sidebar content */
}

.button-container {
  position: absolute; /* Absolute positioning */
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  text-align: center;
  transition: transform 0.3s ease;
}

.button-container:hover {
  transform: scale(1.1); /* Scale up the container on hover */
}

.pwanet {
  padding: 5px;
  width: 70px;
  aspect-ratio: square;
}
